extends layout

block content

        nav.navbar.navbar-default.navbar-fixed-top
                .container
                        .navbar-header
                                .navbar-brand Control Panel
                        ul.nav.navbar-nav.navbar-right
                                li
                                        .navbar-btn#btn-logout.btn.btn-default
                                                | Sign Out
